body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h4 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    text-align: center;
}

input[type="email"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"]:valid, input[type="password"]:valid {
    border-color: green;
}

/* input[type="email"]:invalid, input[type="password"]:invalid {
    border-color: red;
} */

.red-text {
    color: red;
    font-size: 12px;
    margin: 0 0 10px 0;
}

button {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 10px 5px 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.green-btn {
    background-color: #28a745;
    color: #fff;
}

.green-btn:hover {
    background-color: #218838;
}

.green-btn:active {
    background-color: #1e7e34;
}

.green-btn:disabled {
    background-color: #94d3a2;
}

.red-btn {
    background-color: #dc3545;
    color: #fff;
}

.red-btn:hover {
    background-color: #c82333;
}

.red-btn:active {
    background-color: #bd2130;
}

.red-btn:disabled {
    background-color: #e6a2a8;
}
